.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 6px;
  padding-right: 6px;
}
.row {
  margin-left: -6px;
  margin-right: -6px;
}
.col {
  display: flex;
  flex-wrap: wrap;
  padding: 0 6px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  color: $secondary;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $secondary;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $secondary;
}
body {
  min-width: 320px;
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: $primary;
  &:visited {
    color: $secondary;
  }
}
img {
  max-width: 100%;
  height: auto;
}
