$primary: #ffa31a;
$secondary: #808080;
$lighten: #363636;
$darken: #292929;
$darken2:#1b1b1b;
$white: #fff;
$black: #000;

$xl-breakpoint: 1024px;
$lg-breakpoint: 768px;
$md-breakpoint: 570px;
$sm-breakpoint: 375px;