.card {
  width: 268px;
  min-height: 250px;
  margin-bottom: 8px;
  padding-right: 8px;
  &__pic {
    position: relative;
    width: 260px;
    height: 150px;
    background-image: url(/card-placeholder.png);
    background-color: #fff;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    &--active {
      cursor: pointer;
    }
    &--disabled {
      cursor: not-allowed;
    }
  }
  &__title,
  &__author,
  &__footer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  &__title {
    margin-top: 8px;
    font-size: 18px;
    color: #fff;
  }
  &__author,
  &__footer {
    font-size: 14px;
    color: #808080;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  &__author {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  &__authorIcon {
    width: 15px;
    height: 15px;
    color: #4f98ff;
    background-color: $white;
    border-radius: 50%;
    margin-right: 4px;
  }
  &__footer {
    display: flex;
    align-items: center;
  }
  &__ratings {
    margin-left: 6px;
  }
  &__duration {
    display: flex;
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: #fff;
    font-size: 14px;
  }
  &__resolution {
    margin-right: 4px;
    font-weight: bold;
  }
  &__source {
    margin-left: auto;
    margin-right: 12px;
    &--active {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
    }
    &--disabled {
      color: $lighten;
      text-decoration: line-through;
      cursor: not-allowed;
    }
  }
}
