.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  padding: 6px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  &__icon {
    height: 20px;
    width: 20px;
    &--small {
      height: 16px;
      width: 16px;
    }
  }
  &__text {
    margin-left: 4px;
  }
  &--lg {
    font-size: 16px;
  }
  &--first {
    margin-right: 16px;
  }
  &__dropdown {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 250px;
    padding: 8px 6px;
    background-color: #fff;
    border-radius: 4px;
    &:before {
      position: absolute;
      top: -10px;
      left: 50%;
      z-index: 5;
      transform: translate(-50%, 0);
      display: block;
      content: "";
      border-top: 5px solid transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff;
    }
  }
  &__dropdownChild {
    margin-bottom: 6px;
  }
}
