.tabs {
  display: none;
  @include grid-xl {
    display: flex;
    padding: 0 12px;
    &__bg {
      background-color: #292929;
    }
    &__item {
      flex: 0 0 calc(100% / 8);
      text-transform: uppercase;
      font-weight: 600;
      padding: 12px 0;
      padding-top: 16px;
      width: 200px;
      text-align: center;
      border: 1px solid transparent;
      border-bottom: 4px solid #292929;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        border: 1px solid rgba($color: $secondary, $alpha: .3);
      }
      &--current {
        border-bottom: 4px solid #ffa31a;
        &:hover {
          border: 1px solid rgba($color: $secondary, $alpha: .3);
          border-bottom: 4px solid #ffa31a;
        }
      }
    }
  }
}
