.vid {
  width: auto;
  flex: 0 1 calc(75% - 24px);
  margin-right: 24px;
  @media (max-width: 1195px) {
    flex: 0 0 100%;
  }
  &__content {
    position: relative;
    margin: 0 12px;
    > img {
      min-width: 100%;
      height: 70vh;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 4px;
    background-color: #aaa;
    cursor: pointer;
    &--prev {
      left: 12px;
    }
    &--next {
      right: 12px;
    }
    &--disabled {
      cursor: not-allowed;
    }
  }
  &__desc {
    margin-top: 40px;
    padding: 0 12px;
  }
  &__title {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
  }
  &__status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid $lighten;
    color: $secondary;
    font-size: 14px;
  }
  &__statusLeft {
    display: flex;
    flex: 0 0 100%;
    @include grid-md {
      flex: 0 0 auto;
    }
  }
  &__statusRight {
    display: flex;
    flex: 0 0 100%;
    margin-top: 8px;
    font-size: 12px;
    @include grid-lg {
      flex: 0 0 0;
      margin-left: auto;
      margin-top: 0;
      font-size: 14px;
    }
  }
  &__upvote {
    padding-left: 0 !important;
  }
  &__toolBtn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    @include grid-lg {
      padding: 6px 16px;
    }
  }
  &__toolBtnIcon {
    margin-right: 4px;
    width: 12px;
    height: 12px;
    @include grid-lg {
      margin-right: 6px;
      width: 15px;
      height: 15px;
    }
  }
  &__li {
    &:before {
      content: '';
    }
    &:after {
      content: '|';
    }
    &--last {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
  }
  &__author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid $lighten;
  }
  &__authorDp {
    border-radius: 50%;
    background-color: #eee;
    background-image: url('https://ci.phncdn.com/pics/users/default/pornhub/(m=ewILG0y)(mh=FMNOM0cXHYnQa42O)male.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 50px;
    height: 50px;
    margin-right: 12px;
  }
  &__authorDetail {
    display: flex;
    flex-direction: column;
  }
  &__authorName {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  &__authorNameText {
    margin-right: 8px;
  }
  &__authorSubDetail {
    margin-top: 8px;
    display: flex;
    font-size: 12px;
    font-weight: 100;
    color: $secondary;
  }
  &__authorSubscribe {
    margin-top: 24px;
    flex: 0 0 50%;
    justify-self: start;
    background-color: $darken2;
    text-align: center;
    @include grid-md {
      margin-top: 0;
      flex: 0 0 auto;
    }
    margin-left: auto;
    border: 1px solid $lighten;
    border-radius: 4px;
    font-size: 18px;
    padding: 12px 36px;
    cursor: not-allowed;
    // cursor: pointer;
  }
  &__categories {
    margin-top: 12px;
    color: $secondary;
    padding-bottom: 36px;
  }
  &__categoriesContent {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  &__categoriesItem {
    border: 1px solid $secondary;
    border-radius: 4px;
    padding: 6px 18px;
    background-color: $darken;
    color: #fff;
    margin-right: 4px;
    font-size: 14px;
    margin-bottom: 4px;
  }
  &__showMore {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    color: $secondary;
    margin-bottom: 36px;
    &::before,
    &::after {
      content: '';
      height: 1px;
      width: calc(50% - 45px);
      background-color: $lighten;
    }
  }
  &__showMoreText {
    width: 90px;
    text-align: center;
  }
}
.vidSide {
  width: auto;
  flex: 0 1 calc(25% - 12px);
  padding-left: 12px;
  @media (max-width: 1195px) {
    flex: 0 0 90%;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 12px;
    @include grid-xl {
      text-align: left;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    @include grid-xl {
      justify-content: flex-start;
    }
  }
}
.vidComments {
  padding: 0 12px;
  flex: 0 0 calc(75% - 24px);
  padding-right: 24px;
  @include desktopBelow {
    flex: 0 0 100%;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  &__box {
    margin-bottom: 24px;
  }
  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__userDp {
    border-radius: 50%;
    background-color: $lighten;
    background-image: url('https://ci.phncdn.com/pics/users/default/pornhub/(m=ewILG0y)(mh=FMNOM0cXHYnQa42O)male.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 45px;
    height: 45px;
    margin-right: 12px;
  }
  &__userName {
    color: $primary;
    font-weight: bold;
    margin-right: 4px;
  }
  &__date {
    color: $secondary;
    font-weight: unset;
    font-size: 14px;
  }
  &__content {
    font-size: 14px;
    color: #ddd;
    margin-bottom: 2px;
    line-height: 1.5;
  }
  &__votes {
    display: flex;
    color: $secondary;
    font-size: 14px;
  }
  &__upvote {
    padding-left: 0;
    padding-right: 0;
  }
}
