.body {
  padding: 0 12px;
  min-height: calc(100vh - 45px);
  margin-top: 45px;
  @include grid-xl {
    min-height: calc(100vh - 128px);
    margin-top: 0;
  }
  overflow-x: hidden;
  color: #fff;
  background-color: #000;
  &__bg {
    min-width: 100vw;
    background-color: #000;
  }
  &__titleBar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__titleBtn {
    display: none;
    @include grid-xl {
      margin-left: auto;
    }
  }
  &__title {
    width: 100%;
    padding: 20px 0;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    @include grid-xl {
      text-align: left;
    }
  }
}
.result {
  display: flex;
  justify-content: center;
  @include grid-xl {
    justify-content: flex-start;
  }
}
.box {
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  margin-top: 24px;
}
