.body {
  min-height: calc(100vh);
  color: #fff;
  // padding-top: 40px;
  &__bg {
    background-color: #000;
  }
  &__titleBar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__titleBtn {
    margin-left: auto;
  }
  &__title {
    padding: 20px 0;
    font-weight: bold;
    font-size: 20px;
  }
}