.footer {
  color: #fff;
  padding: 0 12px;
  &__top {
    background-color: $darken2;
    border-top: 1px solid $darken;
  }
  &__topBarBox {
    display: flex;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 48px;
  }
  &__topBar {
    flex: 0 0 100%;
    justify-content: center;
    @include grid-md {
      flex: 0 0 50%;
    }
    @include grid-xl {
      flex: 0 0 25%;
    }
  }
  &__topBarTitle {
    color: $secondary;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: capitalize;
  }
  // &__topBarList {}
  &__topBarListItem {
    color: $primary;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 12px;
    text-transform: capitalize;
    cursor: pointer;
    .link {
      position: relative;
      color: $primary;
      padding-left: 0;
      padding-top: 0;
      margin: 0;
      display: block;
      .link__dropdown {
        left: 20px;
        text-align: center;
        // min-width: 160px;
      }
    }
    > a {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  &__topBarLangBox {
    padding-bottom: 12px;
  }
  &__topBarLang {
    display: flex;
    align-items: center;
    font-size: 14px;
    > select {
      border: none;
      border: 1px solid $darken;
      border-radius: 2px;
      color: $white;
      font-weight: bold;
      padding: 1px 2px;
      background-color: $darken;
      font-size: 14px;
      cursor: pointer;
    }
  }
  &__topBarLangLabel {
    color: $secondary;
    font-weight: bold;
    margin-right: 8px;
  }
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 28px;
  }
  &__bottomLeft {
    display: flex;
    margin-bottom: 4px;
  }
  &__bottomRight {
    margin-left: auto;
  }
  &__bottomLeftItem {
    margin-right: 24px;
    cursor: not-allowed;
    &--active {
      cursor: pointer;
    }
  }
  &__bottomRightItem {
    color: $secondary;
    font-size: 12px;
  }
}